* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body[data-theme="dark"] {
  --background-main: #1a1b21;
  --background-secondary: #32353c;
  --accent-color: #76ABAE;
  --text-color: #EBECf0;
}

body[data-theme="light"] {
  --background-main: #EBECf0;
  --background-secondary: #cdced5;
  --accent-color: #76ABAE;
  --text-color: #32353c;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: var(--background-main);
  color: var(--text-color);
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
}