* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body[data-theme="dark"] {
  --background-main: #222831;
  --background-secondary: #31363F;
  --accent-color: #76ABAE;
  --text-color: #FFF2E1;
}

body[data-theme="light"] {
  --background-main: #A79277;
  --background-secondary: #D1BB9E;
  --accent-color: #76ABAE;
  --text-color: #FFF2E1;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: var(--background-main);
  color: var(--text-color);
}

button {
  border: none;
  cursor: pointer;
}
